<!DOCTYPE html>
<html lang="fr">
	{% trans_default_domain 'admin' %}
	{% set ui = app.session.get('ui_config') %}
	{% set theme_path = app.session.get('theme_path') %}
    {% set js_path = app.session.get('js_path') %}
    {% set current_tab = nav.getCurrentTab() %}
	<head>
        <meta charset="UTF-8">

        <title>{% block title %}{{ ui.app.full_name }} - Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            <!-- Node modules -->
            <link rel="stylesheet" href="{{ js_path.getUrl('dropzone/dist/dropzone.css') }}" />
            <link rel="stylesheet" href="{{ js_path.getUrl('@fancyapps/fancybox/dist/jquery.fancybox.min.css') }}" />
            <link rel="stylesheet" href="{{ js_path.getUrl('jquery-ui-dist/jquery-ui.min.css') }}" />
            
            <!-- Admin -->
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/fonts.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/reset.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/global.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/layout.css') }}" />
            
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/components.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/buttons.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/types.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/items.css') }}" />
            
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/section.explorer.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/section.select.css') }}" />
            <link rel="stylesheet" href="{{ theme_path.getUrl('css/section.form.css') }}" />
            
        {% endblock %}
    </head>
	
    <body {% if params.display is defined %}data-display="{{ params.display }}"{% endif %} data-url="{{ path('admin_page_action', {slug:page.slug, action:'index'}) }}">
        
		{% for message in app.flashes('error') %}
        <div class="cpnt_message error">{{ message }}</div>
        {% endfor %}
		{% for message in app.flashes('success') %}
        <div class="cpnt_message success">{{ message }}</div>
        {% endfor %}
        
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="search_button"></div>
        <div id="menu_button"></div>
        <div id="menu">
            <ul>
                <li><a href="{{ path('admin_page_action', {slug: 'users', action: 'form', id: app.user.id }) }}" class="username">{{ app.user.email }}</a></li>
                <li><a href="{{ ui.protocol }}://{{ app.request.server.get('APP_DOMAIN') }}" class="website external">{{ app.request.server.get('APP_DOMAIN') }}</a></li>
                <li><a href="{{ path('admin_logout') }}" class="logout">Déconnexion</a></li>
            </ul>
        </div>
		{% endif %}
        
        <div id="container">
            <header id="header">
        		<h1 id="logo">UI5</h1>
            
                {% block aside %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div id="nav">
            		<ul id="pages">
            			{% for admin_page in ui.admin.pages %}
            			{% if (admin_page.display is defined and admin_page.display) or admin_page.display is not defined %}
                        
                        {% set page_name = admin_page.slug %}
                        {% set trans_key = 'tbl_' ~ admin_page.slug %}
                        {% if trans_key|trans != trans_key %}
                        {% set page_name = trans_key|trans %}
                        {% endif %}
                        
                        <li class="{% if admin_page.slug==page.slug %}active{% endif %}"><a href="{{ path('admin_page', {'slug': admin_page.slug, linked_to:''}) }}">{{ page_name|capitalize }}</a></li>
                        {% endif %}
            			{% endfor %}
            		</ul>
                </div>
                {% endif %}
                {% endblock %}
            </header>
        
            <div id="content">
                <div id="tabs">
                    {% set tabs = nav.getTabs(page.slug) %}
                    {% for tab in tabs %}
                    <div class="tab{% if current_tab.route.id == tab.route.id %} active{% endif %} {{ tab.route.action }}">
                        <a href="{{ path(tab.route.name, tab.route.params) }}">{{ tab.title }}</a>
                         {% if tabs|length > 1 %}&nbsp;<a href="{{ path('admin_page_action', {slug: 'action', action: 'removetab', route_id: tab.route.id}) }}" class="close">x</a>{% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div id="tabs_contents">
                    <div class="tab_content">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        
        {% block javascripts %}
        
        <!-- Node Modules -->
        <script type="text/javascript" src="{{ js_path.getUrl('jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('tinymce/tinymce.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('dropzone/dist/dropzone.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('@fancyapps/fancybox/dist/jquery.fancybox.min.js') }}"></script>
        <script type="text/javascript" src="{{ js_path.getUrl('jquery-ui-dist/jquery-ui.min.js') }}"></script>
        
        <!-- Admin -->
        <script type="text/javascript" src="{{ theme_path.getUrl('js/modules.js') }}"></script>
        <script type="text/javascript" src="{{ theme_path.getUrl('js/admin.js') }}"></script>
        
        {% endblock %}
    </body>
</html>
