{% extends "admin/tpl/layout.html.twig" %}
{% trans_default_domain 'admin' %}
{% set page_slug = page.slug %}

{% block title %}{{ row._name }} - Édition{% endblock %}

{% block body %}
<section id="form" class="clearfix">
    
    <header class="header">
        <!-- Linked to -->
        {% include "admin/tpl/components/linked_row.html.twig" %}

        <!-- Nav -->
        {% include "admin/tpl/components/view_pagination.html.twig" %}

        <!-- Path -->
        {% include "admin/tpl/components/path.html.twig" %}
    
        <!-- Infos -->
        {% if row.id %}
        <div class="infos">
            <strong>ID : </strong> {{ row.id }} | <strong>Propriétaire :</strong> {{ row.user.name }} | <strong>Créé :</strong> {{ row.created|date("m/d/Y H:i:s") }} | <strong>Modifié :</strong> {{ row.modified|date("m/d/Y  H:i:s") }} | <strong>État : </strong>{% if row.isconcealed==0 %}Publié{% else %}Masqué{% endif %}
           {% if page.public_route is defined and page.public_route and row.isconcealed==0 %} | <a class="external public_view" href="{{ include(template_from_string(page.public_route)) }}">Afficher sur le site</a>{% endif %}
        </div>
        {% endif %}
    </header>
    
    <div class="content">
        
        <!-- Form -->
        <section class="form">
        	{{ form_start(form) }}
                {% include "admin/tpl/components/form_buttons.html.twig" %}
            
        		<div class="form-group">
                {% for field in form %}
                   {% include "admin/tpl/editor/form/field.html.twig" %}
                {% endfor %}
                </div>
                
                {% if form|length > 5 %}
                {% include "admin/tpl/components/form_buttons.html.twig" %}
                {% endif %}
                
                <input type="hidden" class="next_step" name="next_step" value="" />
        	{{ form_end(form) }}
            
            <!-- Children -->
            
        </section>
        
        <aside>
            <!-- Thumbnail -->
            {% if row._thumbnail %}
            <div class="thumbnail">
                {% if row._file %}<a href="/uploads/{{ row._file }}" data-fancybox="gallery">{% endif %}<img src="/uploads/{{ row._thumbnail }}" />{% if row._file %}</a>{% endif %}
            </div>
            {% endif %}
        
            <!-- Links -->
            {% if row._links is defined and row._links %}
            {% include 'admin/tpl/components/add_links.html.twig' %}
            {% include 'admin/tpl/components/links.html.twig' %}    
            {% endif %}
        </aside>
    </div>
</section>

{% endblock %}