{% extends "admin/tpl/layout.html.twig" %}
{% set results = rows %}
{% set page_slug = page.slug %}
{% set current_entity = model.name|slugger %}

{% block title %}{{ page.slug|capitalize }} - Parcourir{% endblock %}

{% block body %}

<!-- New folder -->
{% include "admin/tpl/components/new_folder.html.twig" %}

<!-- Dropzone -->
{% include "admin/tpl/components/dropzone.html.twig" %}

<!-- Explorer section -->
<section id="explorer" class="explorer {{ params.display }}" data-offset="{{ paginator.offset }}" data-url="{{ path('admin_page_action', {slug:'action', action:'position', entity_name: page.arguments.entity_name, linked_to:params.linked_to}) }}">
    
    <!-- Linked to -->
    {% include "admin/tpl/components/linked_row.html.twig" %}
    
    <!-- Tools -->
    <div class="tools">
        {% include "admin/tpl/components/db_buttons.html.twig" %}
    </div>
    
    <!-- Tools -->
    <div class="tools">
        {% include "admin/tpl/components/quick_search.html.twig" %}
        {% include "admin/tpl/components/action.html.twig" %}
        {% include "admin/tpl/components/results_tools.html.twig" %}
    </div>
    
    <!-- Path -->
    {% include "admin/tpl/components/path.html.twig" %}

    <!-- Results -->
    <div id="results" class="results">
        <form id="form_results" name="index" action="{{ path('admin_page', {slug:'action', entity_name:model.name, linked_to:params.linked_to, linked_to_id:params.linked_to_id}) }}" method="post">
            
            {% include "admin/tpl/editor/index/" ~ params.display ~ ".html.twig" %}
        
            <input type="hidden" name="action" value="" />
            <input type="hidden" name="target" value="" />
        </form>
    </div>
    
    <!-- Pager -->
    {% include "admin/tpl/components/pagination.html.twig" %}
</section>

{% endblock %}