{% extends "admin/tpl/layout.html.twig" %}
{% trans_default_domain 'admin' %}
{% set page_slug = page.slug %}
    
{% block title %}{{ page.slug|capitalize }} - Sélectionner{% endblock %}

{% block body %}

<section id="select" class="explorer {{ params.display }}">

    <!-- Tools -->
    <div class="tools">
        {% include "admin/tpl/components/quick_search.html.twig" %}
        {% include "admin/tpl/components/results_tools.html.twig" %}
    </div>

    <!-- Path -->
    {% include "admin/tpl/components/path.html.twig" %}
        
    <form id="form_results"  name="select" action="{{ path('admin_page_action', {slug:'action', action:params.select_action, entity_name:model.name, action_entity_name:current_tab.parent.route.params.entity_name, action_selection:[current_tab.parent.route.params.id]}) }}" method="post">
    
        <div class="cpnt_notice">
            <strong>{{ ("select_message_" ~ params.select_action)|trans }} "{{ current_tab.parent.title }}"</strong>
        
            <div class="buttons">
                <a href="{{ path('admin_page_action', {slug:'action', action:'canceltab', entity_name:model.name, 'route_id':current_tab.route.id}) }}" class="btn">Annuler</a> <button type="submit" class="btn btn-primary btn-valid-selection hold-selection" disabled="disabled">Valider la sélection</button>
            </div>
        </div>
        
        {% set results = rows %}
        {% set page_slug = page.slug %}
        <div id="results">
            {% include "admin/tpl/editor/index/" ~ params.display ~ ".html.twig" %}
        </div>
        
    </form>
    
    {% include "admin/tpl/components/pagination.html.twig" %}
</section>

{% endblock %}