                <div class="cpnt cpnt_children">
                    <h2 class="title">Dépendances</h2>
                    {% for field in row._children %}
                        
                        {% set results = field.rows %}
                        {% set model = field.entity %}
                        {% set page_slug =field.page_slug %}
                        
                        <div class="child explorer">
                            <h3 class="child_name">{{ field.entity_name }} \ {{ field.name }}</h3>
                            
                            <div class="buttons">
                                <!--<div class="dropdown action">
                                  <button class="dropdown-toggle" type="button">Action</button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:action('#form_linked_results_{{ page_slug }}', 'unlink');">Retirer</a>
                                  </div>
                                </div>-->
    
                                <a class="button link" href="{{ path('admin_page_action', {slug: page_slug, action: 'select', select_action: 'linkchild', select_field: field.name, parent: current_tab.route.id}) }}" >Sélect.</a>
                                <!--<a class="button new" href="{{ path('admin_page_action', {slug: page_slug, action: 'form', entity_name: field.entity_name, parent: current_tab.route.id}) }}">Créer</a>-->
    
                            </div>
                            
                            <div class="results">
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>