    {% trans_default_domain 'admin' %}
    <div class="cpnt cpnt_path">
        <h1>
            {% if current_tab.route.action == 'form' %}
                {% set  root_action = 'index' %}
            {% else %}
                {% set  root_action = current_tab.route.action %}
            {% endif %}

            <a href="{{ path('admin_page_action', {slug: page_slug, action: root_action, dir: 0, offset: 0, search:'' }) }}">
                <span class="droppable" data-id="0"><span class="wrapper">{{ page_name|capitalize }}</span></span>
            </a>
            
            {% if params.search %}
                \ <span class="name search">"{{ params.search }}"</span>
            {% endif %}
            {% if params.search == '' %}
            {% for path_item in params.path %}
                \ <span class="name {% if path_item.isdir %} folder{% else %} doc{% endif %}">
                {% if path_item.isdir %}<a href="{{ path('admin_page_action', {slug:page.slug, action: 'index', dir:path_item.id, offset:0 }) }}">{% endif %}
                {{ path_item._name }}
                {% if path_item.isdir %}</a>{% endif %}
            </span>
            {% endfor %}
            {% endif %}
            
            {% if row is defined and row.id %}\ <span class="name icon {% if row.isdir %} folder{% else %} doc{% endif %}">{{ row._name }}</span>{% endif %}
        </h1>
    </div>