{% trans_default_domain 'admin' %}

{% block a2lix_translations_widget %}
    {{ form_errors(form) }}

    <div class="a2lix_translations">
		
        <!-- Tabs -->
        <ul class="a2lix_translationsLocales nav nav-tabs" role="tablist">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li class="nav-item">
                <a href="#{{ translationsFields.vars.id }}_a2lix_translations-fields" class="nav-link {% if app.request.locale == locale %}active{% endif %}" data-toggle="tab" role="tab">
                    {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                </a>
            </li>
        {% endfor %}
        </ul>

        <!-- Fields -->
        <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div id="{{ translationsFields.vars.id }}_a2lix_translations-fields" class="tab-pane {% if app.request.locale == locale %}show active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">
                
                {{ form_errors(translationsFields) }}
                
                {% for field in translationsFields %}
                   {% include "admin/tpl/editor/form/field.html.twig" %}
                {% endfor %}
                  
            </div>
        {% endfor %}
        </div>
		
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
